{% extends "base.html" %}
{% block content %}
  <h2>Editar Usuario</h2>

  <form method="POST">
    <label>Usuario:</label>
    <input type="text" name="usuario" value="{{ usuario[1] }}" required><br>

    <label>Rol:</label>
    <select name="rol" required>
      <option value="admin" {% if usuario[2] == 'admin' %}selected{% endif %}>Admin</option>
      <option value="operador" {% if usuario[2] == 'operador' %}selected{% endif %}>Operador</option>
    </select><br><br>

    <input type="submit" value="Guardar cambios">
  </form>

  <br>
  <a href="{{ url_for('usuarios') }}">⬅ Volver</a>
{% endblock %}